{"openapi":"3.0.1","info":{"title":"QAIMA API","description":"QAIMA backend API documentation","version":"v1"},"servers":[{"url":"https://stockpt.ai.kr","description":"Generated server url"}],"tags":[{"name":"Admin - Market Data","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - Sync","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - Financial","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - Credit","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - Macro","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - Dictionary","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - OpenDART","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - SEC","description":"Admin-only endpoints. Requires bearer token with ADMIN role."},{"name":"Admin - Short Selling","description":"Admin-only endpoints. Requires bearer token with ADMIN role."}],"paths":{"/api/v1/portfolios/me/default":{"get":{"tags":["Portfolio"],"summary":"Get my default portfolio","description":"Returns the authenticated user's saved default portfolio.","operationId":"getMyPortfolio","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePortfolioResponseDto"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Portfolio"],"summary":"Save my default portfolio","description":"Replaces the authenticated user's default portfolio holdings.","operationId":"replaceMyPortfolio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortfolioSaveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePortfolioResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/financials/{id}":{"put":{"tags":["Admin - Financial"],"summary":"Update financial statement","operationId":"updateFinancial","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFinancialDto"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Admin - Financial"],"summary":"Delete financial statement","operationId":"deleteFinancial","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/dictionary":{"put":{"tags":["Admin - Dictionary"],"summary":"Upsert dictionary term","operationId":"upsert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryUpsertRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDictionaryTermDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/dictionary/aliases":{"put":{"tags":["Admin - Dictionary"],"summary":"Upsert dictionary alias","operationId":"upsertAlias","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryAliasUpsertRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDictionaryAliasDto"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Admin - Dictionary"],"summary":"Delete dictionary alias","operationId":"deleteAlias","parameters":[{"name":"alias","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/watchlist/me/items":{"post":{"tags":["Watchlist"],"summary":"Add stock to my watchlist","description":"Adds a stock to the authenticated user's default watchlist.","operationId":"addStockToMyWatchlist","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MyWatchlistItemRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseWatchlistResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/watchlist/items":{"post":{"tags":["Watchlist"],"summary":"Add watchlist item","operationId":"addStockToWatchlist","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseWatchlistResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/sync/tickers":{"post":{"tags":["Admin - Sync"],"summary":"Sync market stack tickers","operationId":"syncTickers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/feature3/overlay-cache/preview":{"post":{"tags":["Feature3"],"summary":"Preview Feature3 overlay cache","operationId":"previewOverlayCache","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Feature3OverlayCachePreviewRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature3OverlayCachePreviewResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/feature3/analysis":{"post":{"tags":["Feature3"],"summary":"Run Feature3 portfolio analysis","description":"Runs portfolio risk analysis and enriches the result with overlay signals.","operationId":"analyze","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortfolioAnalyzeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePortfolioAnalyzeResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/feature2/peercluster/data":{"post":{"tags":["Feature2"],"summary":"Build Feature2 peer cluster data","operationId":"data","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[]}},"/api/v1/feature2/analyze":{"post":{"tags":["Feature2"],"summary":"Run Feature2 analysis","description":"Runs Feature2 analysis for a stock using market, macro, peer, and short-selling context.","operationId":"analyze_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Feature2AnalyzeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature2AnalyzeResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/feature1/analyze":{"post":{"tags":["Feature1"],"summary":"Run Feature1 analysis","description":"Runs Feature1 stock analysis and stores a report snapshot when possible.","operationId":"analyze_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeatOneAnalyzeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeatOneAnalysisResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/email/verification/request":{"post":{"tags":["Email"],"summary":"Request email verification code","operationId":"requestVerification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[]}},"/api/v1/email/verification/confirm":{"post":{"tags":["Email"],"summary":"Confirm email verification code","operationId":"confirmVerification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailConfirmDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[]}},"/api/v1/email/pwdreset/request":{"post":{"tags":["Email"],"summary":"Request password reset link","operationId":"requestPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[]}},"/api/v1/email/pwdreset/confirm":{"post":{"tags":["Email"],"summary":"Confirm password reset","operationId":"confirmPasswordResetJson","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PwdResetRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[]}},"/api/v1/email/pwdreset/confirm-form":{"post":{"tags":["Email"],"summary":"Confirm password reset form","operationId":"confirmPasswordResetForm","responses":{"200":{"description":"OK","content":{"text/html;charset=UTF-8":{"schema":{"type":"string"}}}}},"security":[]}},"/api/v1/credits/temp-charge":{"post":{"tags":["Credit"],"summary":"Charge temporary credits","operationId":"tempCharge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditTempChargeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCreditLedgerDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/signup":{"post":{"tags":["Auth"],"summary":"Sign up","description":"Creates a local account after email verification is completed.","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponseDto"}}}}},"security":[]}},"/api/v1/auth/refresh":{"post":{"tags":["Auth"],"summary":"Refresh token","description":"Issues a new access token using the refresh token cookie.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTokenRefreshResponseDto"}}}}},"security":[]}},"/api/v1/auth/logout":{"post":{"tags":["Auth"],"summary":"Log out","description":"Revokes the refresh token cookie session when present.","operationId":"logout","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[]}},"/api/v1/auth/login":{"post":{"tags":["Auth"],"summary":"Log in","description":"Authenticates a local account and issues access/refresh tokens.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponseDto"}}}}},"security":[]}},"/api/v1/auth/find-id":{"post":{"tags":["Auth"],"summary":"Find login email","description":"Finds a user's login email from name and birthdate.","operationId":"findId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindIdRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFindIdResponseDto"}}}}},"security":[]}},"/api/v1/admin/stocks/{stockCode}/financials":{"post":{"tags":["Admin - Financial"],"summary":"Create financial statement","operationId":"createFinancial","parameters":[{"name":"stockCode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFinancialDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/stocks/us/sec/sync":{"post":{"tags":["Admin - Sync"],"summary":"Sync US stock master from SEC","operationId":"syncSecNasdaqNyse","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/short-selling/krx/sync":{"post":{"tags":["Admin - Short Selling"],"summary":"Sync KRX short selling data","operationId":"syncDaily","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseKrxShortSellingDailySyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/short-selling/krx/probe":{"post":{"tags":["Admin - Short Selling"],"summary":"Probe KRX short selling endpoint","operationId":"probeDaily","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseKrxShortSellingProbeResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/short-selling/krx/backfill":{"post":{"tags":["Admin - Short Selling"],"summary":"Backfill KRX short selling data","operationId":"backfill","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseKrxShortSellingBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/short-selling/finra/sync":{"post":{"tags":["Admin - Short Selling"],"summary":"Sync FINRA short selling data","operationId":"syncDaily_1","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFinraShortSellingDailySyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/short-selling/finra/backfill":{"post":{"tags":["Admin - Short Selling"],"summary":"Backfill FINRA short selling data","operationId":"backfill_1","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFinraShortSellingBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/sec/issued-shares/sync":{"post":{"tags":["Admin - SEC"],"summary":"Sync SEC issued shares batch","operationId":"syncIssuedShares","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":300}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/sec/issued-shares/sync/stock":{"post":{"tags":["Admin - SEC"],"summary":"Sync SEC issued shares for stock","operationId":"syncIssuedSharesForStock","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/sec/13f/mappings/cusip":{"post":{"tags":["Admin - SEC"],"summary":"Upsert SEC 13F CUSIP mapping","operationId":"upsertCusipMapping","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"cusip","in":"query","required":true,"schema":{"type":"string"}},{"name":"issuerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"confidence","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCusipMappingResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/sec/13f/import/source":{"post":{"tags":["Admin - SEC"],"summary":"Import SEC 13F source directory","operationId":"importSec13fSource","parameters":[{"name":"sourceDir","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"aggregate","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseImportDirectoryResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/sec/13f/import/file":{"post":{"tags":["Admin - SEC"],"summary":"Import SEC 13F file","operationId":"importSec13fFile","parameters":[{"name":"filePath","in":"query","required":true,"schema":{"type":"string"}},{"name":"aggregate","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseImportFileResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/sec/13f/aggregates/rebuild":{"post":{"tags":["Admin - SEC"],"summary":"Rebuild SEC 13F quarterly aggregates","operationId":"rebuildSec13fAggregates","parameters":[{"name":"stockLimit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseAggregateRebuildResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/opendart/sync/daily":{"post":{"tags":["Admin - OpenDART"],"summary":"Run OpenDART daily sync","operationId":"runDailySync","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDailySyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/opendart/issued-shares/sync":{"post":{"tags":["Admin - OpenDART"],"summary":"Sync OpenDART issued shares batch","operationId":"syncIssuedShares_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDailyBatchResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/opendart/issued-shares/sync/stock":{"post":{"tags":["Admin - OpenDART"],"summary":"Sync OpenDART issued shares for stock","operationId":"syncIssuedSharesForStock_1","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/opendart/corp-codes/sync":{"post":{"tags":["Admin - OpenDART"],"summary":"Sync OpenDART corporation codes","operationId":"syncCorpCodes","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/market-snapshots/backfill":{"post":{"tags":["Admin - Market Data"],"summary":"Backfill market snapshot","operationId":"backfillOne","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"exchange","in":"query","required":false,"schema":{"type":"string"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"force","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMarketSnapshotBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/market-snapshots/backfill/missing":{"post":{"tags":["Admin - Market Data"],"summary":"Backfill missing market snapshots","operationId":"backfillMissing","parameters":[{"name":"exchange","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"delayMs","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMarketSnapshotBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/investor-flow/stock/sync/latest":{"post":{"tags":["Admin - Market Data"],"summary":"Sync latest stock investor flow","operationId":"syncLatest","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockInvestorFlowSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/investor-flow/stock/backfill":{"post":{"tags":["Admin - Market Data"],"summary":"Backfill stock investor flow","operationId":"backfill_2","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockInvestorFlowSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/investor-flow/market/sync":{"post":{"tags":["Admin - Market Data"],"summary":"Sync market investor flow","operationId":"sync","parameters":[{"name":"marketCode","in":"query","required":false,"schema":{"type":"string","default":"KSP"}},{"name":"industryCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMarketInvestorFlowSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/financials/import-csv":{"post":{"tags":["Admin - Financial"],"summary":"Import financial statements from CSV","operationId":"importFinancialCsv","parameters":[{"name":"path","in":"query","required":true,"schema":{"type":"string"}},{"name":"exchange","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseImportResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/exchange-rate/sync/latest":{"post":{"tags":["Admin - Macro"],"summary":"Sync latest exchange rate","operationId":"syncLatest_1","parameters":[{"name":"pairCode","in":"query","required":false,"schema":{"type":"string","default":"USD_KRW"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseExchangeRateRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/exchange-rate/backfill":{"post":{"tags":["Admin - Macro"],"summary":"Backfill exchange rates","operationId":"backfill_3","parameters":[{"name":"pairCode","in":"query","required":false,"schema":{"type":"string","default":"USD_KRW"}},{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseExchangeRateBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/credits/charge":{"post":{"tags":["Admin - Credit"],"summary":"Admin charge credits","operationId":"charge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAdjustRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCreditLedgerDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/credits/adjust":{"post":{"tags":["Admin - Credit"],"summary":"Admin adjust credits","operationId":"adjust","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAdjustRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCreditLedgerDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/sync/latest":{"post":{"tags":["Admin - Macro"],"summary":"Sync latest Korean bond yield","operationId":"syncLatest_2","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListBondYieldRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/fred/sync/latest":{"post":{"tags":["Admin - Macro"],"summary":"Sync latest FRED bond yield","operationId":"syncLatestFred","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListBondYieldRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/fred/backfill":{"post":{"tags":["Admin - Macro"],"summary":"Backfill FRED bond yields","operationId":"backfillFred","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBondYieldBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/backfill":{"post":{"tags":["Admin - Macro"],"summary":"Backfill Korean bond yields","operationId":"backfill_4","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBondYieldBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/base-rate/sync/latest":{"post":{"tags":["Admin - Macro"],"summary":"Sync latest Korean base rate","operationId":"syncLatest_3","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseRateSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/base-rate/fred/sync/latest":{"post":{"tags":["Admin - Macro"],"summary":"Sync latest FRED base rate","operationId":"syncLatestFred_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseRateSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/base-rate/fred/backfill":{"post":{"tags":["Admin - Macro"],"summary":"Backfill FRED base rates","operationId":"backfillFred_1","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseRateBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/base-rate/backfill":{"post":{"tags":["Admin - Macro"],"summary":"Backfill Korean base rates","operationId":"backfill_5","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseRateBackfillResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/watchlist/items/{itemId}":{"delete":{"tags":["Watchlist"],"summary":"Delete watchlist item","description":"Deletes a watchlist item by watchlist item id.","operationId":"removeStockFromWatchlist","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Watchlist"],"summary":"Update watchlist item","operationId":"updateWatchlistItemNote","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistItemUpdateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseWatchlistResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me":{"get":{"tags":["User"],"summary":"Get my profile","description":"Returns the authenticated user's profile.","operationId":"me","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponseDto"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["User"],"summary":"Update my profile","operationId":"updateMe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me/social-profile":{"patch":{"tags":["User"],"summary":"Complete social profile","operationId":"completeSocialProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialProfileCompleteRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me/risk-profile":{"get":{"tags":["User"],"summary":"Get my risk profile","operationId":"getRiskProfile","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserRiskProfileDto"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["User"],"summary":"Update my risk profile","operationId":"updateRiskProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRiskProfileUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserRiskProfileDto"}}}}},"security":[{"bearerAuth":[]}]}},"/":{"get":{"tags":["Health / Debug"],"summary":"Backend home","operationId":"home","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[]}},"/api/v1/watchlist/{watchlistId}":{"get":{"tags":["Watchlist"],"summary":"List watchlist items","operationId":"getWatchlistItems","parameters":[{"name":"watchlistId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListWatchlistResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/watchlist/me":{"get":{"tags":["Watchlist"],"summary":"List my watchlist","description":"Returns the authenticated user's default watchlist items.","operationId":"getMyWatchlistItems","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListWatchlistResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/test/ping":{"get":{"tags":["Health / Debug"],"summary":"Health check","operationId":"ping","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}},"security":[]}},"/api/v1/test/feature1":{"get":{"tags":["Health / Debug"],"summary":"Debug Feature1 API","operationId":"testAnalysis","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeatOneAnalysisResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/test/external":{"get":{"tags":["Health / Debug"],"summary":"Debug external API","operationId":"testExternal","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/stocks/{ticker}/financials":{"get":{"tags":["Stock"],"summary":"List stock financial statements","operationId":"getFinancialsForLastNYears","parameters":[{"name":"ticker","in":"path","required":true,"schema":{"type":"string"}},{"name":"years","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"periodType","in":"query","required":false,"schema":{"type":"string","enum":["Q","H","A","TTM"]}},{"name":"periodNo","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFinancialDto"}}}}},"security":[]}},"/api/v1/stocks/{ticker}/financials/{year}":{"get":{"tags":["Stock"],"summary":"List stock financial statements by year","operationId":"getFinancialsForYear","parameters":[{"name":"ticker","in":"path","required":true,"schema":{"type":"string"}},{"name":"year","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"periodType","in":"query","required":false,"schema":{"type":"string","enum":["Q","H","A","TTM"]}},{"name":"periodNo","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFinancialDto"}}}}},"security":[]}},"/api/v1/stocks/{stockId}":{"get":{"tags":["Stock"],"summary":"Get stock by id","operationId":"getStock","parameters":[{"name":"stockId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockResponseDto"}}}}},"security":[]}},"/api/v1/stocks/search":{"get":{"tags":["Stock"],"summary":"Search stocks","description":"Searches stock mappings by ticker, company name, and registered aliases.","operationId":"searchStocks","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListStockCodeMappingDto"}}}}},"security":[]}},"/api/v1/stocks/normalize":{"get":{"tags":["Stock"],"summary":"Normalize stock code","operationId":"normalizeStockCode","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"exchange","in":"query","required":false,"schema":{"type":"string"}},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockCodeMappingDto"}}}}},"security":[]}},"/api/v1/stocks/normalize/candidates":{"get":{"tags":["Stock"],"summary":"List stock mapping candidates","operationId":"normalizeCandidates","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"exchange","in":"query","required":false,"schema":{"type":"string"}},{"name":"symbol","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListStockCodeMappingDto"}}}}},"security":[]}},"/api/v1/stocks/code/{stockCode}":{"get":{"tags":["Stock"],"summary":"Get stock by code","operationId":"getOrCreateStockByCode","parameters":[{"name":"stockCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockResponseDto"}}}}},"security":[]}},"/api/v1/stocks/code/{stockCode}/market-snapshot":{"get":{"tags":["Stock"],"summary":"Get latest market snapshot","operationId":"getLatestMarketSnapshot","parameters":[{"name":"stockCode","in":"path","required":true,"schema":{"type":"string"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMarketSnapshotDto"}}}}},"security":[]}},"/api/v1/reports/{reportId}":{"get":{"tags":["Report"],"summary":"Get report detail","description":"Returns a single analysis report owned by the authenticated user.","operationId":"detail","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseAnalysisReportDetailDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/reports/me":{"get":{"tags":["Report"],"summary":"List my reports","description":"Returns paged analysis reports for the authenticated user.","operationId":"myReports","parameters":[{"name":"featureType","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListAnalysisReportSummaryDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/meta/tickers":{"get":{"tags":["Stock"],"summary":"Get ticker metadata","operationId":"getTickerMeta","parameters":[{"name":"symbol","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockMeta"}}}}},"security":[]}},"/api/v1/featured-stocks":{"get":{"tags":["Stock"],"summary":"List featured stocks","operationId":"getFeaturedStocks","parameters":[{"name":"topic","in":"query","required":true,"schema":{"type":"string","enum":["GAINERS","LOSERS","NEAR_NEW_HIGH","NEAR_NEW_LOW","TOP_TURNOVER","VOLUME_SURGE"]}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeaturedStockDto"}}}}},"security":[]}},"/api/v1/feature3/market-data/price-series":{"get":{"tags":["Feature3"],"summary":"Get Feature3 price series","operationId":"getPriceSeries","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"requestedPriceBasis","in":"query","required":false,"schema":{"type":"string","default":"ADJUSTED_CLOSE"}},{"name":"lookbackTradingDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":252}},{"name":"fetchCalendarDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":370}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature3PriceSeriesResponseDto"}}}}},"security":[]}},"/api/v1/feature3/market-data/benchmark-series":{"get":{"tags":["Feature3"],"summary":"Get Feature3 benchmark series","operationId":"getBenchmarkSeries","parameters":[{"name":"benchmarkCode","in":"query","required":false,"schema":{"type":"string","default":"00001"}},{"name":"lookbackTradingDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":252}},{"name":"fetchCalendarDays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":370}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature3BenchmarkSeriesResponseDto"}}}}},"security":[]}},"/api/v1/feature2/news":{"get":{"tags":["Feature2"],"summary":"List Feature2 news","operationId":"getNewsList","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListNewsItemDto"}}}}},"security":[]}},"/api/v1/feature2/news/{newsId}":{"get":{"tags":["Feature2"],"summary":"Get Feature2 news detail","operationId":"getNewsDetail","parameters":[{"name":"newsId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseNewsDetailDto"}}}}},"security":[]}},"/api/v1/feature2/cards/short-selling":{"get":{"tags":["Feature2"],"summary":"Get short selling card","operationId":"getShortSelling","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShortSellingMetrics"}}}}},"security":[]}},"/api/v1/feature2/cards/short-selling-series":{"get":{"tags":["Feature2"],"summary":"Get short selling series card","operationId":"getShortSellingSeries","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":60}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeature2ShortSellingSeriesPointDto"}}}}},"security":[]}},"/api/v1/feature2/cards/related-stocks":{"get":{"tags":["Feature2"],"summary":"Get related stocks card","operationId":"getRelatedStocks","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeature2RelatedStockCardDto"}}}}},"security":[]}},"/api/v1/feature2/cards/macro-rates":{"get":{"tags":["Feature2"],"summary":"Get macro rates card","operationId":"getMacroRates","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature2MacroRatesDto"}}}}},"security":[]}},"/api/v1/feature2/cards/macro-rates-series":{"get":{"tags":["Feature2"],"summary":"Get macro rates series card","operationId":"getMacroRatesSeries","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":120}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature2MacroRatesSeriesDto"}}}}},"security":[]}},"/api/v1/feature2/cards/investor-flow":{"get":{"tags":["Feature2"],"summary":"Get investor flow card","operationId":"getInvestorFlow","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":60}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFeature2InvestorFlowDto"}}}}},"security":[]}},"/api/v1/feature2/cards/industry-index":{"get":{"tags":["Feature2"],"summary":"Get industry index card","operationId":"getIndustryIndex","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"freq","in":"query","required":false,"schema":{"type":"string","default":"ONE_D","enum":["ONE_MIN","FIVE_MIN","FIFTEEN_MIN","ONE_H","ONE_D","ONE_W","ONE_M"]}},{"name":"window","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":120}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseIndustryIndexBlockDto"}}}}},"security":[]}},"/api/v1/feature2/cards/base-rate":{"get":{"tags":["Feature2"],"summary":"Get base rate card","operationId":"getBaseRate","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseRateMetrics"}}}}},"security":[]}},"/api/v1/feature2/cards/base-rate-series":{"get":{"tags":["Feature2"],"summary":"Get base rate series card","operationId":"getBaseRateSeries","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":365}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeature2BaseRateSeriesPointDto"}}}}},"security":[]}},"/api/v1/email/pwdreset/form":{"get":{"tags":["Email"],"summary":"Render password reset form","operationId":"passwordResetForm","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/html;charset=UTF-8":{"schema":{"type":"string"}}}}},"security":[]}},"/api/v1/dictionary":{"get":{"tags":["Dictionary"],"summary":"Search dictionary","description":"Searches dictionary terms by keyword, initial consonant, and paging options.","operationId":"search","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"initial","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListDictionaryTermDto"}}}}},"security":[]}},"/api/v1/dictionary/{term}":{"get":{"tags":["Dictionary"],"summary":"Get dictionary term","operationId":"getOne","parameters":[{"name":"term","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDictionaryTermDto"}}}}},"security":[]}},"/api/v1/dictionary/{term}/aliases":{"get":{"tags":["Dictionary"],"summary":"List dictionary aliases","operationId":"aliases","parameters":[{"name":"term","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListDictionaryAliasDto"}}}}},"security":[]}},"/api/v1/dictionary/initials":{"get":{"tags":["Dictionary"],"summary":"List dictionary initials","operationId":"initials","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListDictionaryInitialCountDto"}}}}},"security":[]}},"/api/v1/dictionary/autocomplete":{"get":{"tags":["Dictionary"],"summary":"Autocomplete dictionary terms","operationId":"autocomplete","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListString"}}}}},"security":[]}},"/api/v1/credits/ledger":{"get":{"tags":["Credit"],"summary":"List credit ledger","operationId":"ledger","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListCreditLedgerDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/credits/balance":{"get":{"tags":["Credit"],"summary":"Get credit balance","operationId":"balance","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCreditBalanceDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/charts/candles":{"get":{"tags":["Chart"],"summary":"Get candle chart data","description":"Returns candle series data for a stock and frequency within the requested time range.","operationId":"getCandles","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"freq","in":"query","required":true,"schema":{"type":"string","enum":["ONE_MIN","FIVE_MIN","FIFTEEN_MIN","ONE_H","ONE_D","ONE_W","ONE_M"]}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCandleSeriesResponse"}}}}},"security":[]}},"/api/v1/auth/oauth2/{provider}":{"get":{"tags":["Auth"],"summary":"Start OAuth2 login","operationId":"redirectToProvider","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[]}},"/api/v1/admin/sec/13f/holdings/stock":{"get":{"tags":["Admin - SEC"],"summary":"List SEC 13F stock holdings","operationId":"findSec13fHoldings","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":12}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListQuarterlyHoldingResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/ping":{"get":{"tags":["Admin - Sync"],"summary":"Check admin API","operationId":"ping_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/investor-flow/stock/series":{"get":{"tags":["Admin - Market Data"],"summary":"List stock investor flow series","operationId":"series","parameters":[{"name":"stockCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListStockInvestorFlowRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/investor-flow/market/series":{"get":{"tags":["Admin - Market Data"],"summary":"List market investor flow series","operationId":"series_1","parameters":[{"name":"marketCode","in":"query","required":false,"schema":{"type":"string","default":"KSP"}},{"name":"industryCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMarketInvestorFlowRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/exchange-rate/series":{"get":{"tags":["Admin - Macro"],"summary":"List exchange rate series","operationId":"series_2","parameters":[{"name":"pairCode","in":"query","required":false,"schema":{"type":"string","default":"USD_KRW"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":365}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListExchangeRateRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/exchange-rate/latest":{"get":{"tags":["Admin - Macro"],"summary":"Get latest exchange rate","operationId":"latest","parameters":[{"name":"pairCode","in":"query","required":false,"schema":{"type":"string","default":"USD_KRW"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"sync","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseExchangeRateRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/series":{"get":{"tags":["Admin - Macro"],"summary":"List Korean bond yield series","operationId":"series_3","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string","default":"KR10Y"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":365}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListBondYieldRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/latest":{"get":{"tags":["Admin - Macro"],"summary":"Get latest Korean bond yield","operationId":"latest_1","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string","default":"KR10Y"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"sync","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBondYieldRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/fred/series":{"get":{"tags":["Admin - Macro"],"summary":"List FRED bond yield series","operationId":"seriesFred","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string","default":"US10Y"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":120}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListBondYieldRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bond-yield/fred/latest":{"get":{"tags":["Admin - Macro"],"summary":"Get latest FRED bond yield","operationId":"latestFred","parameters":[{"name":"instrumentCode","in":"query","required":false,"schema":{"type":"string","default":"US10Y"}},{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"sync","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBondYieldRow"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/base-rate/fred/series":{"get":{"tags":["Admin - Macro"],"summary":"List FRED base rate series","operationId":"seriesFred_1","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":120}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListBaseRateSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/base-rate/fred/latest":{"get":{"tags":["Admin - Macro"],"summary":"Get latest FRED base rate","operationId":"latestFred_1","parameters":[{"name":"asOfDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"sync","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseRateSyncResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/debug/ticker-meta":{"get":{"tags":["Health / Debug"],"summary":"Debug ticker metadata","operationId":"debugTicker","parameters":[{"name":"symbol","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStockMeta"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/dictionary/{term}":{"delete":{"tags":["Admin - Dictionary"],"summary":"Delete dictionary term","operationId":"delete","parameters":[{"name":"term","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"PortfolioHoldingDto":{"required":["averagePrice","quantity","stockCode","stockName"],"type":"object","properties":{"stockCode":{"type":"string"},"stockName":{"type":"string"},"quantity":{"type":"number"},"averagePrice":{"type":"number"}}},"PortfolioSaveRequestDto":{"required":["cashAmount"],"type":"object","properties":{"cashAmount":{"type":"number"},"holdings":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioHoldingDto"}}}},"ApiError":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}},"ApiResponsePortfolioResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/PortfolioResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"Meta":{"type":"object","properties":{"requestId":{"type":"string"},"status":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"warnings":{"type":"array","items":{"type":"string"}},"warning":{"type":"string"},"reportId":{"type":"integer","format":"int64"}}},"PortfolioResponseDto":{"type":"object","properties":{"portfolioId":{"type":"integer","format":"int64"},"cashAmount":{"type":"number"},"holdings":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioHoldingDto"}}}},"FinancialDto":{"type":"object","properties":{"financialId":{"type":"integer","format":"int64"},"stockId":{"type":"integer","format":"int64"},"ticker":{"type":"string"},"companyName":{"type":"string"},"year":{"type":"integer","format":"int32"},"quarter":{"type":"integer","format":"int32"},"half":{"type":"integer","format":"int32"},"periodType":{"type":"string"},"periodNo":{"type":"integer","format":"int32"},"reportDate":{"type":"string","format":"date"},"revenue":{"type":"number"},"grossProfit":{"type":"number"},"operatingIncome":{"type":"number"},"netIncome":{"type":"number"},"assets":{"type":"number"},"liabilities":{"type":"number"},"equity":{"type":"number"},"capitalStock":{"type":"number"},"retainedEarnings":{"type":"number"},"cashAndEquivalents":{"type":"number"},"marketCap":{"type":"number"},"eps":{"type":"number"},"bps":{"type":"number"},"operatingMargin":{"type":"number","format":"double"},"netMargin":{"type":"number","format":"double"},"roe":{"type":"number","format":"double"},"roa":{"type":"number","format":"double"},"per":{"type":"number","format":"double"},"pbr":{"type":"number","format":"double"},"psr":{"type":"number","format":"double"},"debtRatio":{"type":"number","format":"double"},"currentRatio":{"type":"number","format":"double"},"quickRatio":{"type":"number","format":"double"},"interestCoverageRatio":{"type":"number","format":"double"},"freeCashFlow":{"type":"number"},"revenueGrowth":{"type":"number","format":"double"},"epsGrowth":{"type":"number","format":"double"}}},"ApiResponseFinancialDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/FinancialDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"DictionaryUpsertRequestDto":{"required":["description","term"],"type":"object","properties":{"term":{"type":"string"},"description":{"type":"string"},"descriptionEn":{"type":"string"},"source":{"type":"string"},"sourceOrg":{"type":"string"},"sourceUrl":{"type":"string"},"sourceType":{"type":"string"},"status":{"type":"string"},"reviewedAt":{"type":"string"},"tag":{"type":"string"}}},"ApiResponseDictionaryTermDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/DictionaryTermDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"DictionaryTermDto":{"type":"object","properties":{"term":{"type":"string"},"termEn":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}},"initial":{"type":"string"},"description":{"type":"string"},"descriptionEn":{"type":"string"},"source":{"type":"string"},"sourceOrg":{"type":"string"},"sourceUrl":{"type":"string"},"sourceType":{"type":"string"},"status":{"type":"string"},"reviewedAt":{"type":"string","format":"date-time"},"tag":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"DictionaryAliasUpsertRequestDto":{"required":["alias","canonicalTerm"],"type":"object","properties":{"alias":{"type":"string"},"canonicalTerm":{"type":"string"},"sourceType":{"type":"string"},"notes":{"type":"string"}}},"ApiResponseDictionaryAliasDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/DictionaryAliasDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"DictionaryAliasDto":{"type":"object","properties":{"alias":{"type":"string"},"canonicalTerm":{"type":"string"},"sourceType":{"type":"string"},"notes":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"MyWatchlistItemRequestDto":{"required":["stockId"],"type":"object","properties":{"stockId":{"type":"integer","format":"int64"}}},"ApiResponseWatchlistResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/WatchlistResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"WatchlistResponseDto":{"type":"object","properties":{"watchlistItemId":{"type":"integer","format":"int64"},"watchlistId":{"type":"integer","format":"int64"},"stockId":{"type":"integer","format":"int64"},"stockCode":{"type":"string"},"stockName":{"type":"string"},"exchangeCode":{"type":"string"},"note":{"type":"string"},"industryName":{"type":"string"}}},"WatchlistRequestDto":{"required":["stockId"],"type":"object","properties":{"stockId":{"type":"integer","format":"int64"},"watchlistId":{"type":"integer","format":"int64"}}},"ApiResponseString":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"Feature3OverlayCachePreviewRequestDto":{"required":["selectedOverlays"],"type":"object","properties":{"portfolioId":{"type":"integer","format":"int64"},"stockCodes":{"type":"array","items":{"type":"string"}},"selectedOverlays":{"type":"array","items":{"type":"string"}},"cachePolicy":{"type":"string"},"overlayCachePolicies":{"type":"object","additionalProperties":{"type":"string"}}}},"ApiResponseFeature3OverlayCachePreviewResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/Feature3OverlayCachePreviewResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"Feature3OverlayCachePreviewResponseDto":{"type":"object","properties":{"coreCredit":{"type":"integer","format":"int32"},"overlayRefreshCredit":{"type":"integer","format":"int32"},"totalCredit":{"type":"integer","format":"int32"},"overlays":{"type":"array","items":{"$ref":"#/components/schemas/OverlayCacheItem"}},"userMessage":{"type":"string"}}},"OverlayCacheItem":{"type":"object","properties":{"overlayType":{"type":"string"},"cacheStatus":{"type":"string"},"additionalCredit":{"type":"integer","format":"int32"},"userConfirmationRequired":{"type":"boolean"},"userMessage":{"type":"string"},"sourceCacheStatus":{"type":"string"},"cacheAsOf":{"type":"string"},"timezone":{"type":"string"},"policySelectable":{"type":"boolean"}}},"CashPosition":{"type":"object","properties":{"currency":{"type":"string"},"amount":{"type":"number","format":"double"}}},"Holding":{"required":["stockCode"],"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"quantity":{"type":"number","format":"double"},"avgPrice":{"type":"number","format":"double"},"currentPrice":{"type":"number","format":"double"},"currency":{"type":"string"},"assetType":{"type":"string"}}},"Options":{"type":"object","properties":{"viewMode":{"type":"string"},"priceBasis":{"type":"string"},"covarianceModel":{"type":"string"},"returnType":{"type":"string"},"lookbackTradingDays":{"type":"integer","format":"int32"},"fetchCalendarDays":{"type":"integer","format":"int32"},"annualizationFactor":{"type":"integer","format":"int32"},"cachePolicy":{"type":"string"},"overlayCachePolicies":{"type":"object","additionalProperties":{"type":"string"}},"selectedOverlays":{"type":"array","items":{"type":"string"}},"includeFrontier":{"type":"boolean"},"includeDiagnostics":{"type":"boolean"},"includeLlmExplain":{"type":"boolean"},"llmVendor":{"type":"string"},"languageCode":{"type":"string"},"maxCashWeight":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","format":"double"}}},"PortfolioAnalyzeRequestDto":{"required":["holdings","riskProfile"],"type":"object","properties":{"portfolioId":{"type":"integer","format":"int64"},"investLevel":{"type":"string"},"holdings":{"type":"array","items":{"$ref":"#/components/schemas/Holding"}},"cashPositions":{"type":"array","items":{"$ref":"#/components/schemas/CashPosition"}},"riskProfile":{"$ref":"#/components/schemas/RiskProfile"},"options":{"$ref":"#/components/schemas/Options"}}},"RiskProfile":{"required":["riskToleranceScore"],"type":"object","properties":{"riskToleranceScore":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","format":"double"},"riskAversionGamma":{"maximum":10.0,"exclusiveMaximum":false,"minimum":1.0,"exclusiveMinimum":false,"type":"number","format":"double"},"profileType":{"type":"string"},"targetVolatility":{"type":"number","format":"double"}}},"AdvancedResult":{"type":"object","properties":{"candidatePortfolios":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioResult"}},"covarianceDiagnostics":{"$ref":"#/components/schemas/CovarianceDiagnostics"},"correlationMatrix":{"type":"object","additionalProperties":{"type":"object"}},"frontier":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}},"expectedReturnPolicy":{"type":"object","additionalProperties":{"type":"object"}},"benchmarkPolicy":{"type":"object","additionalProperties":{"type":"object"}},"capmPolicy":{"type":"object","additionalProperties":{"type":"object"}},"scl":{"type":"object","additionalProperties":{"type":"object"}},"sml":{"type":"object","additionalProperties":{"type":"object"}}}},"ApiResponsePortfolioAnalyzeResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/PortfolioAnalyzeResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"CovarianceDiagnostics":{"type":"object","properties":{"requestedCovarianceModel":{"type":"string"},"usedCovarianceModel":{"type":"string"},"sampleSize":{"type":"integer","format":"int32"},"assetCount":{"type":"integer","format":"int32"},"shrinkageLambda":{"type":"number","format":"double"},"minEigenvalue":{"type":"number","format":"double"},"conditionNumber":{"type":"number","format":"double"},"positiveDefinite":{"type":"boolean"}}},"DataPolicy":{"type":"object","properties":{"returnType":{"type":"string"},"lookbackTradingDays":{"type":"integer","format":"int32"},"fetchCalendarDays":{"type":"integer","format":"int32"},"annualizationFactor":{"type":"integer","format":"int32"},"minObservations":{"type":"integer","format":"int32"},"maxMissingRate":{"type":"number","format":"double"},"maxCommonMissingRate":{"type":"number","format":"double"}}},"DataQuality":{"type":"object","properties":{"expectedTradingDayCount":{"type":"integer","format":"int32"},"commonPriceCount":{"type":"integer","format":"int32"},"commonReturnSampleSize":{"type":"integer","format":"int32"},"commonMissingRate":{"type":"number","format":"double"},"includedHoldingCount":{"type":"integer","format":"int32"},"excludedHoldingCount":{"type":"integer","format":"int32"},"priceSeries":{"type":"array","items":{"$ref":"#/components/schemas/PriceSeriesQuality"}},"excludedHoldings":{"type":"array","items":{"$ref":"#/components/schemas/ExcludedHolding"}}}},"ExcludedHolding":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"reason":{"type":"string"},"availablePriceCount":{"type":"integer","format":"int32"},"expectedTradingDayCount":{"type":"integer","format":"int32"},"missingRate":{"type":"number","format":"double"}}},"ExplainOverall":{"type":"object","properties":{"summary":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}},"risks":{"type":"array","items":{"type":"string"}},"conclusion":{"type":"string"}}},"ExplainResult":{"type":"object","properties":{"provider":{"type":"string"},"model":{"type":"string"},"text":{"type":"string"},"sections":{"$ref":"#/components/schemas/ExplainSections"},"overall":{"$ref":"#/components/schemas/ExplainOverall"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"}}}},"ExplainSection":{"type":"object","properties":{"title":{"type":"string"},"summary":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}}}},"ExplainSections":{"type":"object","properties":{"coreRisk":{"$ref":"#/components/schemas/ExplainSection"},"overlayObservations":{"$ref":"#/components/schemas/ExplainSection"},"portfolioComparison":{"$ref":"#/components/schemas/ExplainSection"},"volatilityAnalysis":{"$ref":"#/components/schemas/ExplainSection"},"efficiencyAnalysis":{"$ref":"#/components/schemas/ExplainSection"},"finalJudgement":{"$ref":"#/components/schemas/ExplainSection"}}},"Freshness":{"type":"object","properties":{"coreRiskAsOf":{"type":"string"},"priceSeriesAsOf":{"type":"string"},"hasMixedFreshness":{"type":"boolean"},"newestDataAt":{"type":"string"},"oldestDataAt":{"type":"string"},"userMessage":{"type":"string"},"overlays":{"type":"array","items":{"$ref":"#/components/schemas/FreshnessOverlay"}}}},"FreshnessOverlay":{"type":"object","properties":{"overlayType":{"type":"string"},"status":{"type":"string"},"analyzedAt":{"type":"string"},"dataAsOf":{"type":"string"},"expiresAt":{"type":"string"},"source":{"type":"string"}}},"HoldingOverlayRow":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"overlayType":{"type":"string"},"label":{"type":"string"},"value":{"type":"string"},"severity":{"type":"string"},"source":{"type":"string"},"cacheStatus":{"type":"string"}}},"OverlayInsightCard":{"type":"object","properties":{"overlayType":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"source":{"type":"string"},"cacheStatus":{"type":"string"},"affectedHoldings":{"type":"array","items":{"type":"string"}}}},"OverlayResult":{"type":"object","properties":{"insightCards":{"type":"array","items":{"$ref":"#/components/schemas/OverlayInsightCard"}},"holdingOverlayTable":{"type":"array","items":{"$ref":"#/components/schemas/HoldingOverlayRow"}},"advancedOverlayExposure":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}},"overlaySignals":{"type":"array","items":{"$ref":"#/components/schemas/OverlaySignal"}},"adjustedPortfolios":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioResult"}},"visualizations":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}},"explanations":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"OverlaySignal":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"overlayType":{"type":"string"},"label":{"type":"string"},"score":{"type":"number","format":"double"},"severity":{"type":"string"},"source":{"type":"string"},"evidence":{"type":"string"}}},"PolicyEcho":{"type":"object","properties":{"pricePolicy":{"$ref":"#/components/schemas/PricePolicy"},"riskProfile":{"$ref":"#/components/schemas/RiskProfileEcho"},"dataPolicy":{"$ref":"#/components/schemas/DataPolicy"},"dataQuality":{"$ref":"#/components/schemas/DataQuality"},"riskFreePolicy":{"$ref":"#/components/schemas/RiskFreePolicy"}}},"PortfolioAnalyzeResponseDto":{"type":"object","properties":{"policy":{"$ref":"#/components/schemas/PolicyEcho"},"summary":{"$ref":"#/components/schemas/Summary"},"currentPortfolio":{"$ref":"#/components/schemas/PortfolioResult"},"basicPortfolios":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioResult"}},"riskDrivers":{"type":"array","items":{"$ref":"#/components/schemas/RiskDriver"}},"advanced":{"$ref":"#/components/schemas/AdvancedResult"},"overlays":{"$ref":"#/components/schemas/OverlayResult"},"explain":{"$ref":"#/components/schemas/ExplainResult"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"}},"freshness":{"$ref":"#/components/schemas/Freshness"}}},"PortfolioResult":{"type":"object","properties":{"type":{"type":"string"},"label":{"type":"string"},"expectedReturn":{"type":"number","format":"double"},"rawHistoricalReturn":{"type":"number","format":"double"},"displayExpectedReturn":{"type":"number","format":"double"},"isDisplayCapped":{"type":"boolean"},"additionalRequiredCash":{"type":"number","format":"double"},"theoreticalRiskyAllocation":{"type":"number","format":"double"},"constraintBinding":{"type":"string"},"sharpeRatio":{"type":"number","format":"double"},"volatility":{"type":"number","format":"double"},"targetVolatility":{"type":"number","format":"double"},"achievedVolatility":{"type":"number","format":"double"},"riskLevel":{"type":"string"},"optimizationStatus":{"type":"string"},"weights":{"type":"array","items":{"$ref":"#/components/schemas/Weight"}},"riskContributions":{"type":"array","items":{"$ref":"#/components/schemas/RiskContribution"}},"userDescription":{"type":"string"}}},"PricePolicy":{"type":"object","properties":{"requested":{"type":"string"},"used":{"type":"string"},"warnings":{"type":"array","items":{"type":"string"}}}},"PriceSeriesQuality":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"requestedPriceBasis":{"type":"string"},"usedPriceBasis":{"type":"string"},"source":{"type":"string"},"cacheStatus":{"type":"string"},"expectedTradingDayCount":{"type":"integer","format":"int32"},"availablePriceCount":{"type":"integer","format":"int32"},"missingRate":{"type":"number","format":"double"},"fallbackUsed":{"type":"boolean"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"}}}},"RiskContribution":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"weight":{"type":"number","format":"double"},"volatility":{"type":"number","format":"double"},"marginalRiskContribution":{"type":"number","format":"double"},"riskContribution":{"type":"number","format":"double"},"riskContributionPct":{"type":"number","format":"double"}}},"RiskDriver":{"type":"object","properties":{"code":{"type":"string"},"severity":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"affectedHoldings":{"type":"array","items":{"type":"string"}},"source":{"type":"string"}}},"RiskFreePolicy":{"type":"object","properties":{"rate":{"type":"number","format":"double"},"source":{"type":"string"},"asOf":{"type":"string"},"instrumentCode":{"type":"string"},"instrumentName":{"type":"string"}}},"RiskProfileEcho":{"type":"object","properties":{"riskToleranceScore":{"type":"number","format":"double"},"riskAversionGamma":{"type":"number","format":"double"},"profileType":{"type":"string"},"targetVolatility":{"type":"number","format":"double"}}},"Summary":{"type":"object","properties":{"riskLevel":{"type":"string"},"suitability":{"type":"string"},"annualizedVolatility":{"type":"number","format":"double"},"targetVolatility":{"type":"number","format":"double"},"volatilityGap":{"type":"number","format":"double"},"mainRiskDrivers":{"type":"array","items":{"type":"string"}}}},"Warning":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"userMessage":{"type":"string"},"severity":{"type":"string"},"target":{"type":"string"}}},"Weight":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"assetType":{"type":"string"},"weight":{"type":"number","format":"double"},"quantity":{"type":"number","format":"double"},"avgPrice":{"type":"number","format":"double"},"currentPrice":{"type":"number","format":"double"},"costBasisValue":{"type":"number","format":"double"},"marketValue":{"type":"number","format":"double"},"unrealizedPnl":{"type":"number","format":"double"},"unrealizedReturnRate":{"type":"number","format":"double"}}},"Feature2AnalyzeRequestDto":{"required":["stockCode"],"type":"object","properties":{"stockCode":{"type":"string"},"freq":{"type":"string","enum":["ONE_MIN","FIVE_MIN","FIFTEEN_MIN","ONE_H","ONE_D","ONE_W","ONE_M"]},"window":{"type":"integer","format":"int32"},"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"},"peerCount":{"type":"integer","format":"int32"},"maxLag":{"type":"integer","format":"int32"},"displayLimit":{"type":"integer","format":"int32"},"llmVendor":{"type":"string"},"investLevel":{"type":"string"},"languageCode":{"type":"string"}}},"AnalysisExplainDto":{"type":"object","properties":{"provider":{"type":"string"},"model":{"type":"string"},"text":{"type":"string"},"sections":{"$ref":"#/components/schemas/Sections"},"overall":{"$ref":"#/components/schemas/Overall"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"}}}},"ApiResponseFeature2AnalyzeResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/Feature2AnalyzeResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"BandPointDto":{"type":"object","properties":{"p20":{"type":"number","format":"double"},"p80":{"type":"number","format":"double"},"t":{"type":"string","format":"date-time"}}},"BaseRateMetrics":{"type":"object","properties":{"date":{"type":"string","format":"date"},"value":{"type":"number"},"unit":{"type":"string"},"source":{"type":"string"},"countryCode":{"type":"string"},"statCode":{"type":"string"},"itemCode":{"type":"string"}}},"BaseRateTrendSummary":{"type":"object","properties":{"window":{"type":"integer","format":"int32"},"pointCount":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"startValue":{"type":"number"},"endValue":{"type":"number"},"change":{"type":"number"},"direction":{"type":"string"},"unit":{"type":"string"}}},"BondYieldPoint":{"type":"object","properties":{"date":{"type":"string","format":"date"},"countryCode":{"type":"string"},"instrumentCode":{"type":"string"},"instrumentName":{"type":"string"},"maturityMonths":{"type":"integer","format":"int32"},"value":{"type":"number"},"unit":{"type":"string"},"source":{"type":"string"}}},"ExchangeRatePoint":{"type":"object","properties":{"date":{"type":"string","format":"date"},"pairCode":{"type":"string"},"baseCurrency":{"type":"string"},"quoteCurrency":{"type":"string"},"value":{"type":"number"},"unit":{"type":"string"},"source":{"type":"string"}}},"Feature2AnalyzeResponseDto":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/Feature2MetricsDto"},"explain":{"$ref":"#/components/schemas/AnalysisExplainDto"}}},"Feature2InvestorFlowDto":{"type":"object","properties":{"stockCode":{"type":"string"},"marketCode":{"type":"string"},"stockSummary":{"$ref":"#/components/schemas/InvestorFlowSummary"},"marketSummary":{"$ref":"#/components/schemas/InvestorFlowSummary"},"stockSeries":{"type":"array","items":{"$ref":"#/components/schemas/InvestorFlowPoint"}},"marketSeries":{"type":"array","items":{"$ref":"#/components/schemas/InvestorFlowPoint"}}}},"Feature2MacroRatesDto":{"type":"object","properties":{"krBaseRate":{"$ref":"#/components/schemas/RatePoint"},"usFedFundsRate":{"$ref":"#/components/schemas/RatePoint"},"usdKrw":{"$ref":"#/components/schemas/ExchangeRatePoint"},"bondYields":{"type":"array","items":{"$ref":"#/components/schemas/BondYieldPoint"}}}},"Feature2MacroRatesSeriesDto":{"type":"object","properties":{"series":{"type":"array","items":{"$ref":"#/components/schemas/SeriesBlock"}}}},"Feature2MetricsDto":{"type":"object","properties":{"stock":{"$ref":"#/components/schemas/StockMeta"},"industry":{"$ref":"#/components/schemas/IndustryMetaDto"},"industryIndex":{"$ref":"#/components/schemas/IndustryIndexBlockDto"},"peerCluster":{"$ref":"#/components/schemas/PeerClusterDto"},"shortSelling":{"$ref":"#/components/schemas/ShortSellingMetrics"},"baseRate":{"$ref":"#/components/schemas/BaseRateMetrics"},"macroRates":{"$ref":"#/components/schemas/Feature2MacroRatesDto"},"macroRatesSeries":{"$ref":"#/components/schemas/Feature2MacroRatesSeriesDto"},"investorFlow":{"$ref":"#/components/schemas/Feature2InvestorFlowDto"},"baseRateTrendSummary":{"$ref":"#/components/schemas/BaseRateTrendSummary"},"shortSellingTrendSummary":{"$ref":"#/components/schemas/ShortSellingTrendSummary"},"newsList":{"type":"array","items":{"$ref":"#/components/schemas/NewsItemDto"}},"newsSentimentSummary":{"$ref":"#/components/schemas/NewsSentimentSummary"}}},"IndustryIndexBlockDto":{"type":"object","properties":{"indexId":{"type":"integer","format":"int64"},"name":{"type":"string"},"code":{"type":"string"},"currency":{"type":"string"},"series":{"type":"array","items":{"$ref":"#/components/schemas/RelativePointDto"}}}},"IndustryMetaDto":{"type":"object","properties":{"industryId":{"type":"integer","format":"int64"},"name":{"type":"string"},"code":{"type":"string"}}},"InvestorFlowPoint":{"type":"object","properties":{"tradeDate":{"type":"string","format":"date"},"closePrice":{"type":"number"},"foreignNetBuyQty":{"type":"number"},"foreignNetBuyValueMillion":{"type":"number"},"institutionNetBuyQty":{"type":"number"},"institutionNetBuyValueMillion":{"type":"number"},"individualNetBuyQty":{"type":"number"},"individualNetBuyValueMillion":{"type":"number"}}},"InvestorFlowSummary":{"type":"object","properties":{"window":{"type":"integer","format":"int32"},"pointCount":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"foreignNetBuyValueMillionSum":{"type":"number"},"institutionNetBuyValueMillionSum":{"type":"number"},"combinedNetBuyValueMillionSum":{"type":"number"},"foreignNetBuyQtySum":{"type":"number"},"institutionNetBuyQtySum":{"type":"number"},"combinedNetBuyQtySum":{"type":"number"},"direction":{"type":"string"}}},"NewsItemDto":{"type":"object","properties":{"newsId":{"type":"integer","format":"int64"},"title":{"type":"string"},"url":{"type":"string"},"publisher":{"type":"string"},"publishedAt":{"type":"string","format":"date-time"},"summary":{"type":"string"},"sentimentScore":{"type":"number"}}},"NewsSentimentSummary":{"type":"object","properties":{"summaryDate":{"type":"string","format":"date"},"dailyAvgScore":{"type":"number"},"dailyNewsCount":{"type":"integer","format":"int32"},"scoredNewsCount":{"type":"integer","format":"int32"},"positiveCount":{"type":"integer","format":"int32"},"neutralCount":{"type":"integer","format":"int32"},"negativeCount":{"type":"integer","format":"int32"},"strongestPositiveScore":{"type":"number"},"strongestNegativeScore":{"type":"number"},"recentItems":{"type":"array","items":{"$ref":"#/components/schemas/RecentNewsSentiment"}}}},"Overall":{"type":"object","properties":{"summary":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}},"risks":{"type":"array","items":{"type":"string"}},"conclusion":{"type":"string"}}},"PeerClusterDto":{"type":"object","properties":{"method":{"type":"string"},"industryId":{"type":"integer","format":"int64"},"freq":{"type":"string","enum":["ONE_MIN","FIVE_MIN","FIFTEEN_MIN","ONE_H","ONE_D","ONE_W","ONE_M"]},"window":{"type":"integer","format":"int32"},"peerCount":{"type":"integer","format":"int32"},"requestedPeerCount":{"type":"integer","format":"int32"},"effectivePeerCount":{"type":"integer","format":"int32"},"rawCandidateCount":{"type":"integer","format":"int32"},"evaluatedCandidateCount":{"type":"integer","format":"int32"},"eligibleCandidateCount":{"type":"integer","format":"int32"},"selectedPeerCount":{"type":"integer","format":"int32"},"displayedCandidateCount":{"type":"integer","format":"int32"},"displayLimit":{"type":"integer","format":"int32"},"adjustmentMethod":{"type":"string","enum":["SIMPLE_SUBTRACTION","BETA_RESIDUAL_RESERVED"]},"industryIndexCode":{"type":"string"},"industryIndexName":{"type":"string"},"adjustedReturnSampleSize":{"type":"integer","format":"int32"},"adjustedReturnCoverageRatio":{"type":"number","format":"double"},"adjustmentValid":{"type":"boolean"},"adjustmentFallbackReason":{"type":"string"},"anchorStockCode":{"type":"string"},"anchorSeries":{"type":"array","items":{"$ref":"#/components/schemas/RelativePointDto"}},"industryIndexSeries":{"type":"array","items":{"$ref":"#/components/schemas/RelativePointDto"}},"centroid":{"type":"array","items":{"$ref":"#/components/schemas/RelativePointDto"}},"band":{"type":"array","items":{"$ref":"#/components/schemas/BandPointDto"}},"peerCentroid":{"type":"array","items":{"$ref":"#/components/schemas/RelativePointDto"}},"peerBand":{"type":"array","items":{"$ref":"#/components/schemas/BandPointDto"}},"peerCoverage":{"type":"array","items":{"$ref":"#/components/schemas/RelativePointDto"}},"peers":{"type":"array","items":{"$ref":"#/components/schemas/PeerItemDto"}},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/PeerItemDto"}},"asOf":{"type":"string","format":"date-time"},"interpretationNote":{"type":"string"}}},"PeerItemDto":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"avgTurnover":{"type":"number","format":"double"},"avgVolume":{"type":"number","format":"double"},"corr":{"type":"number","format":"double"},"adjustedCorr":{"type":"number","format":"double"},"corrStability":{"type":"number","format":"double"},"rawCorrValid":{"type":"boolean"},"adjustedCorrValid":{"type":"boolean"},"adjustedReturnSampleSize":{"type":"integer","format":"int32"},"adjustedReturnCoverageRatio":{"type":"number","format":"double"},"adjustmentBasis":{"type":"string","enum":["RAW_ONLY","SIMPLE_SUBTRACTION","FALLBACK_RAW"]},"displayStatus":{"type":"string","enum":["SELECTED","ELIGIBLE_NOT_SELECTED","DISPLAY_ONLY","LOW_CORR","RAW_ONLY","ADJUSTED_ONLY","FALLBACK_RAW"]},"bestLag":{"type":"integer","format":"int32"},"leadLagCorr":{"type":"number","format":"double"},"lagConfidence":{"type":"number","format":"double"},"relation":{"type":"string","enum":["LEADER","FOLLOWER","COINCIDENT","UNKNOWN"]},"liquiditySimilarityScore":{"type":"number","format":"double"},"volatilitySimilarityScore":{"type":"number","format":"double"},"score":{"type":"number","format":"double"},"peerScore":{"type":"number","format":"double"}}},"Point":{"type":"object","properties":{"date":{"type":"string","format":"date"},"value":{"type":"number"}}},"RatePoint":{"type":"object","properties":{"date":{"type":"string","format":"date"},"value":{"type":"number"},"unit":{"type":"string"},"source":{"type":"string"}}},"RecentNewsSentiment":{"type":"object","properties":{"newsId":{"type":"integer","format":"int64"},"title":{"type":"string"},"publisher":{"type":"string"},"publishedAt":{"type":"string","format":"date-time"},"sentimentScore":{"type":"number"},"sentimentLabel":{"type":"string"}}},"RelativePointDto":{"type":"object","properties":{"t":{"type":"string","format":"date-time"},"value":{"type":"number","format":"double"}}},"Section":{"type":"object","properties":{"title":{"type":"string"},"summary":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}}}},"Sections":{"type":"object","properties":{"priceFlow":{"$ref":"#/components/schemas/Section"},"marketSnapshot":{"$ref":"#/components/schemas/Section"},"indicators":{"$ref":"#/components/schemas/Section"},"financialTimeline":{"$ref":"#/components/schemas/Section"},"macroEnvironment":{"$ref":"#/components/schemas/Section"},"investorFlow":{"$ref":"#/components/schemas/Section"},"shortSelling":{"$ref":"#/components/schemas/Section"},"peerCluster":{"$ref":"#/components/schemas/Section"},"newsSentiment":{"$ref":"#/components/schemas/Section"},"crossSignal":{"$ref":"#/components/schemas/Section"},"coreRisk":{"$ref":"#/components/schemas/Section"},"volatilityAnalysis":{"$ref":"#/components/schemas/Section"},"efficiencyAnalysis":{"$ref":"#/components/schemas/Section"},"overlayObservations":{"$ref":"#/components/schemas/Section"},"portfolioComparison":{"$ref":"#/components/schemas/Section"},"finalJudgement":{"$ref":"#/components/schemas/Section"}}},"SeriesBlock":{"type":"object","properties":{"key":{"type":"string"},"label":{"type":"string"},"group":{"type":"string"},"unit":{"type":"string"},"points":{"type":"array","items":{"$ref":"#/components/schemas/Point"}}}},"ShortSellingMetrics":{"type":"object","properties":{"shortSellingId":{"type":"integer","format":"int64"},"stockId":{"type":"integer","format":"int64"},"stockCode":{"type":"string"},"companyName":{"type":"string"},"reportDate":{"type":"string","format":"date"},"marketCode":{"type":"string"},"securityType":{"type":"string"},"shortVolumeTotal":{"type":"number"},"shortVolumeUptickApplied":{"type":"number"},"shortVolumeUptickExempt":{"type":"number"},"totalVolume":{"type":"number"},"shortVolumeRatio":{"type":"number"},"shortAmountTotal":{"type":"number"},"shortAmountUptickApplied":{"type":"number"},"shortAmountUptickExempt":{"type":"number"},"totalAmount":{"type":"number"},"shortAmountRatio":{"type":"number"},"source":{"type":"string"},"sourceScreenId":{"type":"string"}}},"ShortSellingTrendSummary":{"type":"object","properties":{"window":{"type":"integer","format":"int32"},"pointCount":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"startShortVolumeRatio":{"type":"number"},"endShortVolumeRatio":{"type":"number"},"shortVolumeRatioChange":{"type":"number"},"avgShortVolumeRatio":{"type":"number"},"maxShortVolumeRatio":{"type":"number"},"startShortAmountRatio":{"type":"number"},"endShortAmountRatio":{"type":"number"},"shortAmountRatioChange":{"type":"number"},"avgShortAmountRatio":{"type":"number"},"maxShortAmountRatio":{"type":"number"},"direction":{"type":"string"}}},"StockMeta":{"type":"object","properties":{"stockCode":{"type":"string"},"companyName":{"type":"string"},"exchangeCode":{"type":"string"},"countryCode":{"type":"string"},"currency":{"type":"string"},"price":{"type":"number"},"changeRate":{"type":"number"},"source":{"type":"string"},"sectorCode":{"type":"string"},"sectorName":{"type":"string"},"industryCode":{"type":"string"},"industryName":{"type":"string"},"kospi200":{"type":"boolean"}}},"FeatOneAnalyzeRequestDto":{"type":"object","properties":{"stockCode":{"type":"string"},"freq":{"type":"string","enum":["ONE_MIN","FIVE_MIN","FIFTEEN_MIN","ONE_H","ONE_D","ONE_W","ONE_M"]},"from":{"type":"string"},"to":{"type":"string"},"marketDivCode":{"type":"string"},"includeExplain":{"type":"boolean"},"llmVendor":{"type":"string"},"investLevel":{"type":"string"},"languageCode":{"type":"string"}}},"ApiResponseFeatOneAnalysisResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/FeatOneAnalysisResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"BollingerPointDto":{"type":"object","properties":{"t":{"type":"string"},"mid":{"type":"number"},"upper":{"type":"number"},"lower":{"type":"number"}}},"FeatOneAnalysisExplainDto":{"type":"object","properties":{"provider":{"type":"string"},"model":{"type":"string"},"text":{"type":"string"},"sections":{"$ref":"#/components/schemas/FeatOneAnalysisExplainSectionsDto"},"overall":{"$ref":"#/components/schemas/FeatOneAnalysisExplainOverallDto"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/Warning"}}}},"FeatOneAnalysisExplainOverallDto":{"type":"object","properties":{"summary":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}},"risks":{"type":"array","items":{"type":"string"}},"conclusion":{"type":"string"}}},"FeatOneAnalysisExplainSectionDto":{"type":"object","properties":{"title":{"type":"string"},"summary":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}}}},"FeatOneAnalysisExplainSectionsDto":{"type":"object","properties":{"priceFlow":{"$ref":"#/components/schemas/FeatOneAnalysisExplainSectionDto"},"marketSnapshot":{"$ref":"#/components/schemas/FeatOneAnalysisExplainSectionDto"},"indicators":{"$ref":"#/components/schemas/FeatOneAnalysisExplainSectionDto"},"financialTimeline":{"$ref":"#/components/schemas/FeatOneAnalysisExplainSectionDto"}}},"FeatOneAnalysisMetricsDto":{"type":"object","properties":{"stockCode":{"type":"string"},"asOf":{"type":"string"},"ohlcvSummary":{"$ref":"#/components/schemas/OhlcvSummaryDto"},"financialSeries":{"$ref":"#/components/schemas/FeatOneFinancialSeriesDto"},"marketSnapshot":{"$ref":"#/components/schemas/FeatOneMarketSnapshotDto"},"indicators":{"$ref":"#/components/schemas/IndicatorBundleDto"},"indicatorSummary":{"type":"string"},"schemaVersion":{"type":"string"}}},"FeatOneAnalysisResponseDto":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/FeatOneAnalysisMetricsDto"},"explain":{"$ref":"#/components/schemas/FeatOneAnalysisExplainDto"},"warnings":{"type":"array","items":{"type":"string"}}}},"FeatOneFinancialSeriesDto":{"type":"object","properties":{"years":{"type":"array","items":{"type":"integer","format":"int32"}},"revenue":{"type":"object","additionalProperties":{"type":"number"}},"operatingIncome":{"type":"object","additionalProperties":{"type":"number"}},"netIncome":{"type":"object","additionalProperties":{"type":"number"}}}},"FeatOneGrowthDto":{"type":"object","properties":{"revenueGrowth":{"type":"number","format":"double"},"epsGrowth":{"type":"number","format":"double"},"freeCashFlow":{"type":"number"}}},"FeatOneMarketSnapshotDto":{"type":"object","properties":{"asOf":{"type":"string"},"currency":{"type":"string"},"valuation":{"$ref":"#/components/schemas/FeatOneValuationDto"},"profitability":{"$ref":"#/components/schemas/FeatOneProfitabilityDto"},"stability":{"$ref":"#/components/schemas/FeatOneStabilityDto"},"growth":{"$ref":"#/components/schemas/FeatOneGrowthDto"},"perShare":{"$ref":"#/components/schemas/FeatOnePerShareDto"}}},"FeatOnePerShareDto":{"type":"object","properties":{"eps":{"type":"number","format":"double"},"bps":{"type":"number","format":"double"}}},"FeatOneProfitabilityDto":{"type":"object","properties":{"roe":{"type":"number","format":"double"},"roa":{"type":"number","format":"double"},"operatingMargin":{"type":"number","format":"double"},"netMargin":{"type":"number","format":"double"}}},"FeatOneStabilityDto":{"type":"object","properties":{"debtRatio":{"type":"number","format":"double"},"currentRatio":{"type":"number","format":"double"},"quickRatio":{"type":"number","format":"double"},"interestCoverageRatio":{"type":"number","format":"double"}}},"FeatOneValuationDto":{"type":"object","properties":{"per":{"type":"number","format":"double"},"pbr":{"type":"number","format":"double"},"psr":{"type":"number","format":"double"},"marketCap":{"type":"number"}}},"IndicatorBundleDto":{"type":"object","properties":{"spec":{"$ref":"#/components/schemas/IndicatorSpecDto"},"warnings":{"type":"array","items":{"type":"string"}},"ema":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/IndicatorPoint1Dto"}}},"bb20_2":{"type":"array","items":{"$ref":"#/components/schemas/BollingerPointDto"}},"stoch14_3_3":{"type":"array","items":{"$ref":"#/components/schemas/StochPointDto"}}}},"IndicatorPoint1Dto":{"type":"object","properties":{"t":{"type":"string"},"value":{"type":"number"}}},"IndicatorSpecDto":{"type":"object","properties":{"emaPeriod":{"type":"integer","format":"int32"},"bollingerPeriod":{"type":"integer","format":"int32"},"bollingerStdDev":{"type":"integer","format":"int32"},"stochasticKPeriod":{"type":"integer","format":"int32"},"stochasticDPeriod":{"type":"integer","format":"int32"},"stochasticSmooth":{"type":"integer","format":"int32"}}},"OhlcvSummaryDto":{"type":"object","properties":{"count":{"type":"integer","format":"int32"},"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"},"lastClose":{"type":"number"}}},"StochPointDto":{"type":"object","properties":{"t":{"type":"string"},"k":{"type":"number"},"d":{"type":"number"}}},"EmailRequestDto":{"required":["email"],"type":"object","properties":{"email":{"type":"string"}}},"ApiResponseVoid":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"type":"object"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"EmailConfirmDto":{"required":["code","email"],"type":"object","properties":{"email":{"type":"string"},"code":{"type":"string"}}},"PwdResetRequestDto":{"required":["newPassword","token"],"type":"object","properties":{"token":{"type":"string"},"newPassword":{"type":"string"}}},"CreditTempChargeRequestDto":{"required":["amount"],"type":"object","properties":{"amount":{"type":"integer","format":"int64"},"reason":{"type":"string"}}},"ApiResponseCreditLedgerDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/Meta"},"data":{"$ref":"#/components/schemas/CreditLedgerDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiError"}}}},"CreditLedgerDto":{"type":"object","properties":{"ledgerId":{"type":"integer","format":"int64"},"amount":{"type":"integer","format":"int64"},"balanceAfter":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["CHARGE","USE","REFUND","ADJUST"]},"reason":{"type":"string"},"referenceType":{"type":"string","enum":["FEATURE1",
[...]
